nav.a11y-menubar {
	display: block;
	width: 100%;
	
	ul[role=menubar] {
		list-style-type: none;
		
		li {
			list-style-type: none;
			display:inline-block;
			position: relative;
			
			a.a11y-menubar-menuitem {
				display: block;
				height:1rem;
				line-height:1rem;
			}
			
			ul[role=menu] {
				&.a11y-menubar-menu-open {
					display: block;
					width: 100%;
					position: absolute;
					top:1rem;
					right:0;
				}
				
				&.a11y-menubar-menu-closed {
					@include visually-hidden();
				}
			}
			
		}
		
	}
	
}