nav.a11y-menubar {
	font-family:$proxima;
	display:block;
	width:100%;
	
	ul[role=menubar] {
		background-color:$lt-gray;
		list-style-type: none;
		
		li {
			list-style-type: none;
			position: relative;
			
			a[role=menuitem] {
				color:$dk-gray;
				text-decoration:none;
				background-color:$lt-gray;
				line-height:1.5rem;
				padding:0 1rem 0 1rem;
				
				display: block;
				height:1.5rem;
				
				&:focus, &:hover {
					color:$lt-gray;
					background-color:$dk-gray;
				}
			}
			
			ul[role=menu] {
				opacity:0;
				&.a11y-menubar-menu-open {
					display:block;
					width:10rem;
					position:absolute;
					opacity:1;
					transition:opacity 0.4s linear;
					
					li {
						display:block;
						width:100%;
						
						a[aria-haspopup=true] {
							&::after {
								// Right arrows
								content: '';
								width: 0; 
								height: 0; 
								border-top:0.25rem solid transparent;
								border-bottom:0.25rem solid transparent;
								border-left:0.25rem solid $dk-gray;
								position:absolute;
								right:0.25rem;
								top:0.5rem;
							}
							
							&:hover::after,
							&:focus::after {
								border-left:0.25rem solid $lt-gray;
							}
						}
					}
				}
				
				&.a11y-menubar-menu-closed {
					display:none;
				}
			}
			
		}
		
		&[aria-orientation=horizontal] {
			li {
				display:inline-block;
				
				a[role=menuitem] {
					&.a11y-menubar-menuitem {
						border-right:1px solid $md-gray;
						border-bottom:none;
						
						&[aria-haspopup=true] {
							padding-right:1.5rem;
							
							&::after {
								// Down arrows
								content: '';
								width: 0; 
								height: 0; 
								border-top:0.25rem solid $dk-gray;
								border-right:0.25rem solid transparent;
								border-left:0.25rem solid transparent;
								position:absolute;
								right:0.25rem;
								top:0.5rem;
							}
							
							&:hover::after,
							&:focus::after {
								border-top:0.25rem solid $lt-gray;
							}
						}
					}
					
					border-bottom:1px solid $md-gray;
				}
				
				ul[role=menu] {
					&.a11y-menubar-menu-open {
						top:1.5rem;
						left:0;
						
						li {
							ul[role=menu] {
								top:0rem;
								left:100%;
							}
						}
					}
				}
			}
		}
		
		&[aria-orientation=vertical] {
			width:10rem;
			
			a[role=menuitem] {
				&[aria-haspopup=true] {
					&::after {
						// Right arrows
						content: '';
						width: 0; 
						height: 0; 
						border-top:0.25rem solid transparent;
						border-bottom:0.25rem solid transparent;
						border-left:0.25rem solid $dk-gray;
						position:absolute;
						right:0.25rem;
						top:0.5rem;
					}
				}
			}
			
			li {
				border:1px solid $md-gray;
				border-bottom:none;
				
				&:last-child {
					border-bottom:1px solid $md-gray;
				}
				
				ul[role=menu] {
					&.a11y-menubar-menu-open {
						top:-1px;
						left:100%;
					}
				}
			}
		}
		
	}
	
	&.a11y-menubar-responsive {
		ul[role=menubar] {
			// Responsive menu should be identical whether vertical or horizontal initially.
			&[aria-orientation=horizontal],
			&[aria-orientation=vertical] {
				li {
					display:block;
					
					a[role=menuitem] {
						&.a11y-menubar-menuitem {
							border-right:none;
							border-bottom:1px solid $md-gray;
						}
						
						border-bottom:1px solid $md-gray;
						
						&:focus, &:hover {
							color:$lt-gray;
							background-color:$dk-gray;
						}
						
						&[aria-haspopup=true] {
							padding-right:1.5rem;
							
							&::after {
								// Down arrows
								content: '';
								width: 0; 
								height: 0; 
								border-top:0.25rem solid $dk-gray;
								border-right:0.25rem solid transparent;
								border-left:0.25rem solid transparent;
								position:absolute;
								right:0.25rem;
								top:0.5rem;
							}
							
							&:hover::after,
							&:focus::after {
								border-top:0.25rem solid $lt-gray;
							}
						}
					}
					
					ul[role=menu] {
						opacity:1;
						max-height:0;
						overflow:hidden;
						&.a11y-menubar-menu-open {
							max-height:9999px;
							transition:max-height 1s ease-in;
						}
						
						position:static;
						width:100%;
						
						li {
							a[role=menuitem] {
								// Second-level menuitems.
								background-color:darken($lt-gray,30%);
								color:lighten($lt-gray,20%);
								
								&:focus, &:hover {
									color:$lt-gray;
									background-color:$dk-gray;
								}
								
								// Override default right arrows on submenus.
								&[aria-haspopup=true] {
									padding-right:1.5rem;
									
									&::after {
										// Down arrows
										content: '';
										width: 0; 
										height: 0; 
										border-top:0.25rem solid $dk-gray;
										border-right:0.25rem solid transparent;
										border-left:0.25rem solid transparent;
										position:absolute;
										right:0.25rem;
										top:0.5rem;
									}
									
									&:hover::after,
									&:focus::after {
										border-top:0.25rem solid $lt-gray;
									}
								}
							}
							
							ul[role=menu] {
								li {
									a[role=menuitem] {
										// Third-level menuitems.
										background-color:darken($lt-gray,60%);
										color:lighten($lt-gray,30%);
										
										&:focus, &:hover {
											color:$lt-gray;
											background-color:$dk-gray;
										}
									}
									
									ul[role=menu] {
										li {
											a[role=menuitem] {
												// Fourth-level menuitems.
												background-color:darken($lt-gray,90%);
												color:lighten($lt-gray,40%);
												
												&:focus, &:hover {
													color:$lt-gray;
													background-color:$dk-gray;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	&.a11y-menubar-closed {
		@include visually-hidden();
	}
	
}

button.a11y-menubar-toggle {
	@include button-reset();
	font-family:$proxima;
	background-color:$dk-gray;
	color:$lt-gray;
	width:100%;
	padding:0.5rem;
	text-align:left;
	position:relative;
	
	// Hamburger icon.
	span {
		position: absolute;
		right:1rem;
		top:40%;
		
		&,
		&::before,
		&::after
		{
			cursor: pointer;
			border-radius: 1px;
			height: 3px;
			width: 20px;
			background: $lt-gray;
			position: absolute;
			display: block;
			content: '';
		}
		
		&::before {
			top:-5px;
		}
		
		&::after {
			bottom:-5px;
		}
	}
}
